@media (max-width: 991px) {
    .consultation {
        &__descr {
            font-size: 18px;
            text-align: center;
        }
    }
    }

@media (max-width: 767px) {
    .consultation {
        &__descr {
            font-size: 17px;
        }
    }
}
@media (max-width: 767px) {
    .consultation {
        padding: 80px 0 40px 0;
        &__descr {
            font-size: 16px;
        }
    }
}