@media (max-width: 991px) {
    .title {
        &__left {
            font-size: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .title {
        &__left {
            font-size: 28px;
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 25px;
    }
}